@charset "UTF-8";
.titulo {
  display: flex;
  justify-content: center; }

.container-fluid {
  display: flex; }

main {
  background-color: #141414; }
  main section h1 {
    font-style: normal;
    font-size: 45px;
    text-align: center; }

section div a {
  text-decoration: none;
  color: white; }

section div main {
  color: white; }

.hero {
  height: 60px;
  background-color: #0e0d0d;
  overflow: visible;
  min-width: 200px;
  padding: 10px 15px;
  margin: 0px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center; }
  .hero h1 {
    color: white; }

.titulo {
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white; }
  .titulo h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px; }

.presentacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px; }
  .presentacion div {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .presentacion div h2 {
      text-align: center;
      color: #fff;
      font-family: 'Arial', sans-serif;
      margin: 20px; }
    .presentacion div p {
      color: #fff;
      font-family: 'Arial', sans-serif;
      margin: 20px;
      line-height: 1.6;
      text-align: center; }
  .presentacion img {
    width: 350px;
    height: 300px; }

.productos1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .productos1 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .productos1 div h3 {
      color: #ffffff; }
    .productos1 div a {
      display: block;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      padding: 10px;
      margin-top: 10px; }
      .productos1 div ahover {
        background-color: #555; }
      .productos1 div a img {
        width: 200px;
        height: 300px; }

.galeriagrids {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 400px;
  gap: 10px; }
  .galeriagrids div img {
    width: 100%;
    height: 100%;
    object-fit: fill; }

.img-1 {
  grid-column-start: 2;
  grid-column-end: 6; }

.img-2 {
  grid-column-start: 2;
  grid-column-end: 6; }

.img-3 {
  grid-column-start: 2;
  grid-column-end: 6; }

.jose {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 20px;
  gap: 10px;
  width: 1000px; }

.box-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px; }
  .box-info h1 {
    text-align: left;
    letter-spacing: 5px; }

.data {
  display: flex;
  flex-direction: column; }
  .data p {
    font-size: 1rem; }
    .data p i {
      color: crimson;
      margin-right: 10px;
      font-size: 25px; }

.links {
  display: flex;
  gap: 15px; }
  .links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: crimson;
    text-align: center;
    transition: .1s; }
    .links a i {
      color: #fff;
      line-height: 40px;
      font-size: 20px; }

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px; }
  form button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: crimson;
    color: #fff;
    border: none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem; }
    form buttonhover {
      background: #ac102f; }

.input-box {
  position: relative; }
  .input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #000;
    transition: .3s; }
  .input-box input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: none;
    color: #000;
    letter-spacing: 1px;
    transition: .3s; }
  .input-box textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    letter-spacing: 1px;
    outline: none;
    transition: .3s;
    color: #000000;
    letter-spacing: 1.5px; }
  .input-box input:focus {
    border-bottom: 3px solid crimson;
    animation: shake .2s; }
    .input-box input:focus i {
      color: crimson; }
  .input-box textarea:focus {
    border-bottom: 3px solid crimson;
    animation: shake .2s; }

.pepe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.fondo {
  position: relative;
  text-align: center;
  overflow: hidden;
  max-width: 100%;
  width: 80%;
  height: auto; }
  .fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.texto {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  max-width: 90%;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 2px solid #000000;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  margin-top: 25px; }
  .texto h2 {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    font-size: 3.7em; }
  .texto p {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    font-size: 40px; }

.devoluciones {
  margin-top: 10px;
  background-color: #222222;
  /* Fondo blanco para todo el cuerpo */
  color: #000000;
  /* Texto en negro */
  font-family: Arial, sans-serif;
  /* Fuente del texto */
  margin: 0; }
  .devoluciones .textodevolucion {
    margin-top: 10px;
    width: 70%;
    /* Ancho del contenedor */
    margin: 0 auto;
    /* Centrar el contenedor en la página */
    padding: 20px;
    /* Espaciado interno del contenedor */
    background-color: #ffffff;
    /* Fondo blanco para el contenedor */
    border: 2px solid #000000;
    /* Borde negro para el contenedor */ }
    .devoluciones .textodevolucion .titulo2 {
      font-size: 30px;
      /* Tamaño del título */
      color: #000000;
      /* Color del título en negro */
      margin-top: 10px;
      text-align: center;
      border-bottom: 2px solid #000000; }
    .devoluciones .textodevolucion .parrafo {
      font-size: 19px;
      /* Tamaño del párrafo */
      color: #000000;
      /* Color del texto en negro */
      margin-top: 10px; }
      .devoluciones .textodevolucion .parrafo .detallerojo {
        color: #ff0000;
        /* Detalle en rojo */ }

.envios {
  margin-top: 10px;
  background-color: #222222;
  /* Fondo blanco para todo el cuerpo */
  color: #000000;
  /* Texto en negro */
  font-family: Arial, sans-serif;
  /* Fuente del texto */
  margin: 0; }
  .envios .textoenvios {
    margin-top: 10px;
    width: 70%;
    /* Ancho del contenedor */
    margin: 0 auto;
    /* Centrar el contenedor en la página */
    padding: 20px;
    /* Espaciado interno del contenedor */
    background-color: #0e0e0e;
    /* Fondo blanco para el contenedor */
    border: 2px solid #949494;
    /* Borde negro para el contenedor */ }
    .envios .textoenvios .titulo3 {
      font-size: 30px;
      /* Tamaño del título */
      color: #ffffff;
      /* Color del título en negro */
      margin-top: 10px;
      text-align: center;
      border-bottom: 2px solid #ffffff; }
    .envios .textoenvios .parrafo2 {
      font-size: 19px;
      /* Tamaño del párrafo */
      color: #ffffff;
      /* Color del texto en negro */
      margin-top: 10px; }
      .envios .textoenvios .parrafo2 .detallerojo {
        color: #ff0000;
        /* Detalle en rojo */ }

footer {
  background-color: #292929;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "redes mapa";
  gap: 20px; }
  footer .redes {
    grid-area: redes;
    padding: 10px; }
    footer .redes h3 {
      font-size: 28px; }
    footer .redes div a {
      background-color: #000;
      color: #fff;
      text-decoration: none;
      padding: 10px;
      margin-top: 10px; }
      footer .redes div ahover {
        background-color: #555; }
      footer .redes div a svg {
        width: 35px;
        height: 35px;
        object-fit: cover; }
  footer .mapa {
    grid-area: mapa;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: end; }
    footer .mapa h3 {
      font-size: 20px; }
    footer .mapa iframe {
      width: 200px;
      height: 35px;
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 100%;
      height: 75px; }

@media screen and (max-width: 700px) {
  .galeriagrids {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 10px; }
  .img-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    display: none; }
  .img-2 {
    grid-column-start: 1;
    grid-column-end: 4;
    display: none; }
  .img-3 {
    grid-column-start: 1;
    grid-column-end: 4;
    display: none; } }

@media screen and (max-width: 767px) {
  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px; }
  .box-info {
    gap: 15px; }
  .box-info > h1 {
    font-size: 1.5rem; } }

@keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px); }
  20%, 40%, 60%, 80% {
    transform: translateX(10px); } }

@media screen and (max-width: 676px) {
  .presentacion div {
    width: 90%;
    height: 90%; } }

@media (max-width: 1700px) {
  .texto h2 {
    font-size: 2.8em; }
  .texto p {
    font-size: 29px; } }

@media (max-width: 1283px) {
  .texto h2 {
    font-size: 2.5em; }
  .texto p {
    font-size: 20px; } }

@media (max-width: 987px) {
  .texto {
    margin-top: 5px; }
    .texto h2 {
      font-size: 2.0em; }
    .texto p {
      font-size: 16px; } }

@media (max-width: 793px) {
  .texto {
    margin-top: 5px; }
    .texto h2 {
      font-size: 1.6em; }
    .texto p {
      font-size: 14px; } }

@media (max-width: 711px) {
  .texto {
    width: 75%; }
    .texto h2 {
      font-size: 20px;
      margin: 5px; }
    .texto p {
      font-size: 13px;
      margin: 5px; } }

@media (max-width: 473px) {
  .fondo {
    width: 100%;
    height: auto; }
  .texto {
    width: 95%;
    margin-top: 0; }
    .texto h2 {
      font-size: 17px;
      margin: 5px; }
    .texto p {
      font-size: 10px;
      margin: 5px; } }
