.titulo {
  display: flex;
  justify-content: center; }

.container-fluid {
  display: flex; }

main {
  background-color: #141414; }
  main section h1 {
    font-style: normal;
    font-size: 45px;
    text-align: center; }

section div a {
  text-decoration: none;
  color: white; }

section div main {
  color: white; }

.hero {
  height: 60px;
  background-color: #0e0d0d;
  overflow: visible;
  min-width: 200px;
  padding: 10px 15px;
  margin: 0px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center; }
  .hero h1 {
    color: white; }

.titulo {
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white; }
  .titulo h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px; }

.presentacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px; }
  .presentacion div {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .presentacion div h2 {
      text-align: center;
      color: #fff;
      font-family: 'Arial', sans-serif;
      margin: 20px; }
    .presentacion div p {
      color: #fff;
      font-family: 'Arial', sans-serif;
      margin: 20px;
      line-height: 1.6;
      text-align: center; }
  .presentacion img {
    width: 350px;
    height: 300px; }

.productos1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .productos1 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .productos1 div h3 {
      color: #ffffff; }
    .productos1 div a {
      display: block;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      padding: 10px;
      margin-top: 10px; }
      .productos1 div ahover {
        background-color: #555; }
      .productos1 div a img {
        width: 200px;
        height: 300px; }

.galeriagrids {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  gap: 10px; }
  .galeriagrids div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.img-1 {
  grid-column: span 2; }

.img-2 {
  grid-column-start: 2;
  grid-column-end: 4; }

.img-3 {
  grid-column-start: 1;
  grid-column-end: 3; }

.jose {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 20px;
  gap: 10px;
  width: 1000px; }

.box-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px; }
  .box-info h1 {
    text-align: left;
    letter-spacing: 5px; }

.data {
  display: flex;
  flex-direction: column; }
  .data p {
    font-size: 1rem; }
    .data p i {
      color: crimson;
      margin-right: 10px;
      font-size: 25px; }

.links {
  display: flex;
  gap: 15px; }
  .links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: crimson;
    text-align: center;
    transition: .1s; }
    .links a i {
      color: #fff;
      line-height: 40px;
      font-size: 20px; }

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px; }
  form button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: crimson;
    color: #fff;
    border: none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem; }
    form buttonhover {
      background: #ac102f; }

.input-box {
  position: relative; }
  .input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    transition: .3s; }
  .input-box input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: none;
    letter-spacing: 1px;
    transition: .3s;
    color: #fff; }
  .input-box textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    letter-spacing: 1px;
    outline: none;
    transition: .3s;
    color: #fff;
    letter-spacing: 1.5px; }
  .input-box input:focus {
    border-bottom: 3px solid crimson;
    animation: shake .2s; }
    .input-box input:focus i {
      color: crimson; }
  .input-box textarea:focus {
    border-bottom: 3px solid crimson;
    animation: shake .2s; }

.pepe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .pepe section {
    background-size: contain; }

.fondo {
  position: relative;
  display: inline-block;
  text-align: center; }
  .fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.texto {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px; }
  .texto h2 {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center; }
  .texto p {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center; }

.devoluciones {
  display: flex;
  flex-wrap: wrap; }

.textodevolucion {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px; }
  .textodevolucion h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center; }
  .textodevolucion p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center; }

.imagendevolucion {
  width: 400px;
  display: flex;
  justify-content: center;
  background-size: contain;
  align-items: center;
  flex-wrap: wrap; }
  .imagendevolucion img {
    width: 300px;
    height: 250px; }

.pepino {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; }

footer {
  background-color: #292929;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "redes mapa";
  gap: 20px; }
  footer .redes {
    grid-area: redes;
    padding: 10px; }
    footer .redes h3 {
      font-size: 28px; }
    footer .redes div a {
      background-color: #000;
      color: #fff;
      text-decoration: none;
      padding: 10px;
      margin-top: 10px; }
      footer .redes div ahover {
        background-color: #555; }
      footer .redes div a img {
        width: 35px;
        height: 35px;
        object-fit: cover; }
  footer .mapa {
    grid-area: mapa;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: end; }
    footer .mapa h3 {
      font-size: 20px; }
    footer .mapa iframe {
      width: 200px;
      height: 35px;
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 100%;
      height: 75px; }

@media screen and (max-width: 700px) {
  .galeriagrids {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 10px; }
  .img-1 {
    grid-column-start: 1;
    grid-column-end: 4; }
  .img-2 {
    grid-column-start: 1;
    grid-column-end: 4; }
  .img-3 {
    grid-column-start: 1;
    grid-column-end: 4; } }

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px; }
  .box-info {
    gap: 15px; }
  .box-info > h1 {
    font-size: 1.5rem; } }

@keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px); }
  20%, 40%, 60%, 80% {
    transform: translateX(10px); } }

@media screen and (max-width: 676px) {
  .presentacion div {
    width: 90%;
    height: 90%; } }
