main{background-color: rgb(20, 20, 20);
    section{
        h1{font-style: normal; font-size: 45px; text-align: center;}
    }
    
    }
    section{
        div{
            
            a{text-decoration: none; color: rgb(255, 255, 255);}
            main{color: white;}
            
        }
        
        
    }
    




.hero{height: 60px; background-color: rgb(14, 13, 13); overflow: visible; min-width: 200px;
    padding: 10px 15px; margin: 0px; border: 1px solid black;
    display: flex; @include flex (center, nowrap, center);
    h1{color: nth($colores, 1);}
}

.titulo{@extend %flex; flex-wrap: wrap;
    text-align: center;
      padding: 20px;
      background-color: #333;
      color: rgb(255, 255, 255);
      
    h2{font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 10px;
        

    }

}

.presentacion{display: flex; flex-wrap: wrap; justify-content: space-around; max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    div{width: 45%; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center;
        align-items: center;
        h2{text-align: center; color: #fff; font-family: 'Arial', sans-serif;
            margin: 20px;}
        p{color: #fff; font-family: 'Arial', sans-serif;
            margin: 20px;
            line-height: 1.6;
            text-align: center;}
    }
    img{width: 350px; height: 300px;}

}

.productos1{display: flex; flex-wrap:wrap; justify-content: space-evenly;
    div{display: flex; flex-wrap:wrap; justify-content: center; flex-direction: column; align-items: center;
        h3{color: #ffffff;}
        a{display: block;
            background-color: #000; 
            color: #fff; 
            text-decoration: none;
            padding: 10px;
            margin-top: 10px;
            &hover{background-color: #555;}
            img{width: 200px; height: 300px;}
        }
    } 

}

.galeriagrids{width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 400px;
    gap: 10px;
  
    div{
        img{width:100%;
            height:100%;
            object-fit: fill;}
    }
}
   

.img-1{grid-column-start: 2; grid-column-end: 6;}
  
.img-2{grid-column-start: 2; grid-column-end: 6; }
  
.img-3{grid-column-start: 2; grid-column-end: 6;}

.jose{display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;}


.container{display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;}


.box-info{color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
    h1{text-align: left;
        letter-spacing: 5px;
           }
}

.data{display: flex;
    flex-direction: column;
    
    p{font-size: 1rem;
        i{color:crimson;
            margin-right: 10px;
            font-size:25px;}
    }
}

.links{display:flex;
    gap:15px;
    a{text-decoration: none;
        width: 40px;
        height: 40px;
        background: crimson;
        text-align: center;
        transition: .1s;
        i{color:#fff;
            line-height: 40px;
            font-size: 20px;}
    }
}

form{display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
    button{width: 100%;
        padding: 10px;
        outline: none;
        background: crimson;
        color:#fff;
        border:none;
        transition: .1s;
        cursor: pointer;
        font-size: 1rem;
        &hover{background: rgb(172, 16, 47);

        }
    }
}

.input-box{position:relative;
    i{position:absolute;
        top:50%;
        transform: translateY(-50%);
        right: 10px;
        color: #000;
        
        transition: .3s;}
    input{width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    color: #000;
    letter-spacing: 1px;
    transition:.3s;
    }
    textarea{width: 100%;
        height: 130px;
        padding: 10px;
       
        letter-spacing: 1px;
        outline: none;
        transition:.3s;
        color:#000000;
        letter-spacing: 1.5px;}
    %textarea{color:#a3a3a3;}
    %input{color:#a3a3a3;}
    %input:focus{color:transparent;}
    %textarea:focus{color:transparent;}
    input:focus{border-bottom:3px solid crimson;
        animation: shake .2s;
        i{color:crimson;}
    }
    textarea:focus{border-bottom:3px solid crimson;
        animation: shake .2s;}
    
}

.pepe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .fondo {
    position: relative;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    width: 80%; // Añadido para ocupar todo el ancho del contenedor flex
    height: auto;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .texto {
    position: absolute;
    
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    
    color: whitesmoke;
    max-width: 90%;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 2px solid #000000;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    margin-top: 25px;
  
    h2 {
      font-family: 'Arial', sans-serif;
      margin: 20px;
      font-size: 3.7em;
    }
  
    p {
      font-family: 'Arial', sans-serif;
      margin: 20px;
      font-size: 40px;
    }
}

.devoluciones {
    margin-top: 10px;
    background-color: rgb(34, 34, 34); /* Fondo blanco para todo el cuerpo */
    color: #000000; /* Texto en negro */
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 0;
  
  
  .textodevolucion {
    margin-top: 10px;
    width: 70%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
    padding: 20px; /* Espaciado interno del contenedor */
    background-color: #ffffff; /* Fondo blanco para el contenedor */
    border: 2px solid #000000; /* Borde negro para el contenedor */
    .titulo2 {
        font-size: 30px; /* Tamaño del título */
        color: #000000; /* Color del título en negro */
        margin-top: 10px;
        text-align: center;
        border-bottom: 2px solid #000000;
      }
      
    .parrafo {
        font-size: 19px; /* Tamaño del párrafo */
        color: #000000; /* Color del texto en negro */
        margin-top: 10px;
        
        .detallerojo {
            color: #ff0000; /* Detalle en rojo */
          }
          
      }
  }
}
 
  
  
.envios {
    margin-top: 10px;
    background-color: rgb(34, 34, 34); /* Fondo blanco para todo el cuerpo */
    color: #000000; /* Texto en negro */
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 0;
  
  
  .textoenvios {
    margin-top: 10px;
    width: 70%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
    padding: 20px; /* Espaciado interno del contenedor */
    background-color: #0e0e0e; /* Fondo blanco para el contenedor */
    border: 2px solid #949494; /* Borde negro para el contenedor */
    .titulo3 {
        font-size: 30px; /* Tamaño del título */
        color: #ffffff; /* Color del título en negro */
        margin-top: 10px;
        text-align: center;
        border-bottom: 2px solid #ffffff;
      }
      
    .parrafo2 {
        font-size: 19px; /* Tamaño del párrafo */
        color: #ffffff; /* Color del texto en negro */
        margin-top: 10px;
        
        .detallerojo {
            color: #ff0000; /* Detalle en rojo */
          }
          
      }
  }
}
  