@media screen and (max-width: 700px){
    .galeriagrids {
      
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 400px;
      gap: 10px;
     }
     .img-1{grid-column-start: 1; grid-column-end: 4;}
     .img-2{grid-column-start: 1; grid-column-end: 4;}
     .img-3{grid-column-start: 1; grid-column-end: 4;}
   }
   @media screen and (max-width:600px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}
   @keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }
