@media screen and (max-width: 700px){
    .galeriagrids {
      
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 400px;
      gap: 10px;
     }
     .img-1{grid-column-start: 1; grid-column-end: 4; display: none;}
     .img-2{grid-column-start: 1; grid-column-end: 4; display: none;}
     .img-3{grid-column-start: 1; grid-column-end: 4; display: none;}
   }
   @media screen and (max-width:767px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}
   @keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }

 @media screen and (max-width: 676px){
    .presentacion{
        div{width: 90%;
            height: 90%;}
    }

 }

 
@media (max-width: 1700px) {
    .texto {
        h2 {
            font-size: 2.8em;
        }
        p {
            font-size: 29px;
        }
    }
}

@media (max-width: 1283px) {
    .texto {
        h2 {
            font-size: 2.5em;
        }
        p {
            font-size: 20px;
        }
    }
}

@media (max-width: 987px) {
    .texto { margin-top: 5px;
        h2 {
            font-size: 2.0em;
        }
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 793px) {
    .texto { margin-top: 5px;
        h2 {
            font-size: 1.6em;
        }
        p {
            font-size: 14px;
        }
    }
}









@media (max-width: 711px) {
    .texto {
        width: 75%;
    
        h2 {
            font-size: 20px;
            margin: 5px;
        }

        p {
            font-size: 13px;
            margin: 5px;
        }
    }
}

@media (max-width: 473px) {
    .fondo { width: 100%; height: auto;}

    .texto {
        width: 95%;
        margin-top: 0;
    
        h2 {
            font-size: 17px;
            margin: 5px;
        }

        p {
            font-size: 10px;
            margin: 5px;
        }
    }
}